Model list<productApp.Models.Product>
<h2> Product list</h2>


<table border="1" cellpadding="5">
    <tr>
         <th>product Id</th>
         <th>Name</th>
         <th>Price</th>
         <th>Quantity</th>
    </tr>

    @foreach (var product in Model)
    {
        <tr>
              <td>@product.Id</td>
              <td>@product.Name</td>
              <td>@product.Price</td>
              <td>@product.Quantity</td>
        </tr>
        }
</table>









}
